name: Build APK

on: [workflow_dispatch]

jobs:
  build:
    runs-on: ubuntu-22.04
    
    steps:
    - uses: actions/checkout@v4
    
    - name: Setup environment
      env:
        DEBIAN_FRONTEND: noninteractive
        TZ: UTC
      run: |
        sudo apt-get update
        sudo apt-get install -y python3 python3-pip python3-venv openjdk-17-jdk-headless
        pip3 install buildozer cython
        
    - name: Build
      run: |
        echo y | buildozer android debug
        
    - name: Upload
      uses: actions/upload-artifact@v4
      with:
        name: telegram-app
        path: bin/*.apk
