name: Build APK

on: [workflow_dispatch]

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v4
    
    - name: Install everything
      run: |
        sudo apt update
        sudo apt install -y python3.11 python3.11-venv python3-distutils openjdk-17-jdk
        python3.11 -m pip install buildozer
        
    - name: Build
      run: |
        echo y | buildozer android debug
        
    - name: Upload
      uses: actions/upload-artifact@v4
      with:
        name: app
        path: bin/*.apk
